.wrapper {
  height: 50px;
  background: #34495e;
  width: 100%;
}
.nav {
  display: flex;
  width: 50%;
  margin: 0 auto;
  gap: 20px;
  align-items: center;
  height: 100%;
  justify-content: space-around;
}
.nav a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  border: 2px solid white;
  padding: 5px;
  font-family: 'Inter', sans-serif;
}

.nav .active {
  border: 2px solid orange;
}
