* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formAdding {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 600px;
  background-color: #7baad4;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  align-items: center;
  border-radius: 5px;
}

.input {
  height: 20px;
  width: 300px;
  margin-top: 10px;
  padding: 5px;
  border: none;
  outline: none;
  background: #d5dee5;
}
.btnAdd {
  height: 20px;
  width: 150px;
  margin-top: 10px;
  background: #304c61;
  border: none;
  border-radius: 3px;
  color: #d5dee5;
}
.btnAdd:hover {
  cursor: pointer;
}
.order{
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
}
.order div {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 3px;
  background: #d5dee5;
  height: 150px;
  width: 150px;
  color: rgb(16, 16, 16);
}

.allOrder {
  border-radius: 3px;
  background: #d5dee5;
  height: 80px;
  width: 600px;
  margin-top: 10px;
  padding: 15px;
}
.order div button{
    padding: 3px;
    border-radius: 3px;
    border: none;
  background-color: #7baad4;
  
}