*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
        width: 30%;
        height: 50%;
       
    }
button{
        width: 100%;
        border: none;
        outline: none;
        padding: 25px 0;
        font-size: 24px;
        background-color: aquamarine;
margin-bottom: 10px;
border-radius: 8px;
    }
    button:hover{
        background-color: rgb(99, 197, 164);
    }