.wrapper {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  background-color: aliceblue;
  padding: 20px;
  margin: 0 auto;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
h1{
  width: 100%;
}