.wrapper {
  width: 85%;
  margin: auto;
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 40px;
  border-radius: 8px;
}
h1{
  width: 100%;
}