*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.main{
    background-color: antiquewhite;
   height: 100vh;

   
    padding: 60px;
    border-radius: 10px;
}
.dark .main{
background-color: gray;
color: aliceblue;
}

.change_mode{
   position: fixed;
   top: 10px;
   right: 10px;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background-color: rgb(36, 86, 186); 
   border: none;
   cursor: pointer;
}
.dark .change_mode{
    background-color: antiquewhite;
}

.plus{
    position: fixed;
    top: 10px;
    right: 100px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(119, 151, 217); 
    border: none;
    cursor: pointer;
}
.minus{
    position: fixed;
    top: 10px;
    right: 160px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(119, 151, 217); 
    border: none;
    cursor: pointer;
}